.bootstrap-table table.fav-games-table {
	td {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	thead {
		/* display: none; */
		display: revert;
	}

	min-height: 0;

	th {
		height: 50px;
		white-space: nowrap;

		div.fht-cell {
			width: unset !important;
		}
	}

}

h2.invisible, h3.invisible {
	height: 0;
}

.bootstrap-table .fixed-table-container .table thead th .th-inner {
	overflow: inherit;
}